:root {
    --red: hsl(0, 100%, 74%); 
    --green: hsl(154, 59%, 51%);
    --transgreen: rgba(56, 204, 140, 0.7);
    --darkblue: hsl(249, 10%, 26%); 
    --grayishblue: hsl(246, 25%, 77%);
    --blue: hsl(248, 32%, 49%);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../src/bg-intro-desktop.png");
    background-color: var(--red);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
}


.container {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding-left: clamp(3rem, 4vw, 5rem);
    padding-right: clamp(3rem, 4vw, 5rem);
}


h1 {
    font-size: clamp(1rem, 5vw, 3rem);
    line-height: clamp(3rem, 4vw , 3.5rem);
    margin-bottom: 2rem;
}


.trial {
    width: 40vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title {
    background-color: var(--blue);    
    height: 60px;
    width: clamp(80%, 50vh , 90%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.392) 0px 8px 8px 0px;
    margin-bottom: 50px;
    font-size: clamp(0.6rem, 1.7vh, 1rem);
    
}

form {
    width: 90%;
    width: clamp(80%, 50vh , 90%);
    border-radius: 8px;
    padding: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.392) 0px 8px 8px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


}

form div {
    display: flex;
    flex-direction: column;
}

input {
    padding: 17px 25px;
    margin-bottom: 18px;
    height: 6vh;
    width: clamp(70%, 50vh , 90%);
    padding-left: 2rem;
    color: rgba(96, 96, 96, 1);
    font-weight: 600;
    border-radius: 8px;
    border-style: solid;
    border-color:rgba(176, 176, 176, 0.3);
    
}
 

input:focus {

    border:1px solid var(--darkblue) ;
    outline: none;
    color: black;
}

#submit {
    background-color: var(--green);
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#submit:hover {
    background-color: var(--transgreen);
    cursor: pointer;
}



.agree {
    padding-top: 1rem;
    font-size: 0.7rem;
    color: grey;

}

.terms {
    font-weight: 700;
    text-decoration: none;
    color: var(--red);
  
}

footer {
    font-size: 0.8rem;
    position: absolute;
    bottom: 1rem;
    justify-content: center;
}

footer a {
    color: brown;
}

footer a:hover {
    color: white;
}

.error {
    border: 2px solid var(--red) ;
    background: url('../src/icon-error.svg') no-repeat;
    background-position: 95% 50%;
    outline: none;
    color: var(--red);
}

.error_msg {
    font-size: 0.7rem;
    font-style: italic;
    margin-right: 50px;
    margin-left: auto;
    margin-top: -15px;
    margin-bottom: 20px;
    align-self: flex-end;
    color: red;
}

.success {
    border: 2px solid var(--green);
    outline: none;
    color: black;

}

@media (max-width: 800px) {
    

    body {
        height: 100vh;
        width: 100vw;
        position: relative;
        background: url("../src/bg-intro-desktop.png");
        background-color: var(--red);
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: white;
    }
    .container {
        height: 90vh;
        width: 90vw;
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text {  
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90vw;
        padding-left: clamp(3rem, 4vw, 5rem);
        padding-right: clamp(3rem, 4vw, 5rem);
    }
    
    .trial {
        width: 90vw;
        align-items: center;
        padding-top: 2rem;
        justify-content: flex-start;
        display: flex;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
    
    .text p {
        font-size: 0.9rem;
    }

    .title {
        margin: 30px 0;
        height: 80px;
        
    }

    footer {
        display: none;
    }
}


@media (min-width: 1440px) {
    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        background-color: rgba(0, 0, 0, 0.1);
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: white;
    }
    
    
    .container {
        background: url("../src/bg-intro-desktop.png");
        background-color: var(--red);
        height: 80vh;
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    
footer {
    color: black;
}


footer a:hover {
    color:var(--green);
}



}


/*# Front-end Style Guide
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Colors
### Primary

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

## Typography
### Body Copy
- Font size: 16px
### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700
*/